<img *ngIf="team == 'Mens Basketball'" class="team-pic" src="../../assets/mbb-image.png">
<img *ngIf="team == 'Womens Basketball'" class="team-pic" src="../../assets/wbb-image.png">
<img *ngIf="team == 'Softball'" class="team-pic" src="../../assets/softball-image.jpg">
<img *ngIf="team == 'Baseball'" class="team-pic" src="../../assets/baseball-image.png">

<div class="container-fluid" role="group">
    <div class="row">
        <div *ngFor="let option of options" class="list-group-item col-4 d-flex justify-content-center"
            [ngClass]="[option.active ? 'active-tab' : 'nonactive-tab']" (click)="setActiveTab(option.value)">
            <h6 class="text-capitalize mt-2">
                {{option.value}}
            </h6>
        </div>
    </div>
</div>

<roster *ngIf="value == 'roster'"></roster>
<stats *ngIf="value == 'stats'"></stats>
<app-progress *ngIf="value == 'progress'"></app-progress>