<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <mdb-breadcrumb>
            <mdb-breadcrumb-item>
              <mdb-icon fas class="mr-1"></mdb-icon> {{title}}
            </mdb-breadcrumb-item>
            <mdb-breadcrumb-item *ngIf="team">
              <mdb-icon fas icon="caret-right" class="mr-1"></mdb-icon> {{team}}
            </mdb-breadcrumb-item>
          </mdb-breadcrumb>
        <span class="menu-spacer"></span>
        <img src="../assets/ksu-logo.png" class="logo ml-auto mr-1">
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <div *ngFor="let sport of sports;" (click)="updateCurrentTeam(sport.name)">
                <div>
                    <a>
                        <mdb-icon class="p-1" fas icon={{sport.icon}}></mdb-icon>
                        <span class="pr-1" mat-list-item>{{sport.name}}</span>
                    </a>
                    <hr />
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>