<h2 class="d-flex align-items-center justify-content-center pt-5">Search</h2>
<div class="center"> 
    <a>
        <mdb-icon class="p-1" fas icon="search"></mdb-icon>
        <mat-form-field class="p-1 search"> 
            <input type="text" placeholder="Sport" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" textNoResults="No matching teams" (optionSelected)='updateCurrentTeam($event.option.value)'>
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </a>
</div>