<div class="container-fluid">
    <div class="row mb-2 mt-4">
        <mat-form-field class="col-6 col-md-4 justify-content-center m-auto">
            <mat-label>Statistics</mat-label>
            <mat-select [formControl]="statsForm" [(ngModel)]="stats" multiple>
                <mat-option *ngFor="let label of statLabels" [value]="label" (click)="setupChart()">{{label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div *ngIf="chartDatasets.length > 0;" style="display: block">
    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
        [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div>