<div *ngFor="let roster of rosters" class="flex-container" (click)="showPlayerStats(roster.jerseyNum)">
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <div class="pictureContainerRosterPage">
            <img src="../../../assets/player-pictures/{{team}}/{{roster.pictureFile}}" alt="Avatar"
             [ngClass]="{'scaleUpRosterPage': team == 'baseball', 'absoluteRosterPage': team != 'baseball'}">
        </div>
        <p class="name">{{roster.firstname}} {{roster.lastname}}</p>
        <p class="jerseyNum">#{{roster.jerseyNum}}</p>
    </div>
</div>