<div class="text-center modal-fluid dark-background">
    <mdb-icon class="p-1" style="float:right;" fas icon="times" (click)="close();"></mdb-icon>
    <div class="modal-header justify-content-center">
        <div class="pictureContainerPlayerPage">
            <img *ngIf="team != '' && player.picFileName != ''" src="../../../assets/player-pictures/{{team}}/{{player.picFileName}}" alt="Avatar"
                [ngClass]="{'scaleUpPlayerPage': team == 'baseball', 'absolutePlayerPage': team != 'baseball'}">
        </div>
        <p class="heading mt-3 ml-2" style="font-weight: bold">{{player.firstName}} {{player.lastName}}</p>
        <div class="btn-group options-player" role="group">
            <div *ngFor="let option of options">
                <button mdbBtn type="button" class="waves-light tab"
                    [ngClass]="[option.active ? 'active-tab' : 'nonactive-tab']" (click)="setActiveTab(option.value)"
                    mdbWavesEffect>
                    {{option.value}}
                </button>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <player-info *ngIf="value == 'Info'"></player-info>
        <player-stats *ngIf="value == 'Stats'"></player-stats>
    </div>
</div>