/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
    outline: none;
}

.search {
    width: 90%;
}

.center {
    text-align: center;
}

.logo {
    width: 84px;
    float: right;
}

.team-pic {
    width: 100%;
}

.options {
    justify-content: center;
    margin: auto;
    display: flex;
    border-top: 1px solid lightgrey;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.name {
    margin-top: auto;
    margin-right: auto;
    padding-left: 70px;
}

.jerseyNum {
    margin-top: auto;
}

.flex-container {
    display: contents;
    flex-wrap: wrap;
    width: 100%;
}

.flex-container > div {
    width: 100%;
}

.active-tab {
    background-color: #3f51b5;
    color: #fff !important;
}

.mat-drawer-container {
    background-color: #FEFEFF !important;
}

// Desktop Styles
@media (min-width: 1025px) {
  
    .search {
        width: 90%;
    }

    .flex-container {
        display: inline-flex;
        width: 50%;
    }
    
  }
  